@page

@model LoginModel

@* @using AspNetCoreCookieAuth.Models;
@using Microsoft.AspNetCore.Authentication;
@using Microsoft.AspNetCore.Authentication.Cookies;
@using System.Security.Claims;


@functions{

    [BindProperty]
    public LogInModel LogInModel { get; set; }

    public async Task<IActionResult> OnPostAsync()
    {
        if (ModelState.IsValid)
        {
            var isValid = true; //TODO: refactorizar validando el usuario y el pasaword
            if(!isValid)
            {
                ModelState.AddModelError("", "username or password is invalid");
                return Page();
            }

            var identity = new ClaimsIdentity(CookieAuthenticationDefaults.AuthenticationScheme, ClaimTypes.Name, ClaimTypes.Role);
            identity.AddClaim(new Claim(ClaimTypes.NameIdentifier, LogInModel.Username));
            identity.AddClaim(new Claim(ClaimTypes.Role, "Admin"));

            var principal = new ClaimsPrincipal(identity);
            await HttpContext.SignInAsync(CookieAuthenticationDefaults.AuthenticationScheme, principal, new AuthenticationProperties{IsPersistent = LogInModel.RememberMe});

            return RedirectToPage("Index");

        }

        return Page();
    }

}
 *@

<form action="" method="Post">
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group">
        <label  class="col-md-2 control-label" asp-for="LogInModel.Username"></label>
        <div class="col-md-10">
            <input class="form-control" asp-for="LogInModel.Username">
            <span class="text-danger" asp-validation-for="LogInModel.Username"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="LogInModel.Password" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input class="form-control" asp-for="LogInModel.Password">
            <span class="text-danger" asp-validation-for="LogInModel.Password"></span>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <div class="checkbox">
                <label asp-for="LogInModel.RememberMe">
                    <input asp-for="LogInModel.RememberMe"/>
                    @Html.DisplayNameFor(m => m.LogInModel.RememberMe)
                </label>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-default">Log In</button>
        </div>
    </div>
</form>